<body>
<h1> Hallo! </h1>

  <form class='box_location' action='/birthday' method='POST'>
  <h2> Hoe heet je? </h2>
  <div class="name_box">
    <input type='text' name='name'>
  </div>
  <div class='birthday'>
  <h2> Wanneer ben je jarig?</h2>
  <p> dag </p>
    <input type='text' name='day'>
  <p> maand </p>
    <input type='text' name='month'>
  </div>
  <input type='submit' value='go!'>
  </div>
</form>
</body>